.firstsection {
    display: inline-block;
    width: 100%;
    background-color: rgb(245, 240, 230);
}

.firstsection p {
    font-size: 28px;
}

.secondsection {
    display: inline-block;
    width: 100%;
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
}

.secondsection h2 {
    color: white;
}

.secondsection p {
    font-size: 28px;
    color: white;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    max-width: 600px;
}
  
#navbar a {
    float: left;
    display: block;
    background-color: #182b49;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 28px;
}

#navbar a:hover {
    color: white;
}

.thirdsection {
    display: inline-block;
    width: 100%;
    background-color: rgb(245, 240, 230);
    height: 600px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.grid-box {
    display: flex;
    margin-top: 20px;
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
}