.firstsection {
    display: inline-block;
    width: 100%;
    background-color: rgb(245, 240, 230);
}

.firstsection p {
    font-size: 28px;
}

.firstsection img {
    max-width: 100%;
}

.secondsection {
    display: inline-block;
    width: 100%;
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
}

.secondsection h2 {
    color: white;
}

.secondsection p {
    font-size: 28px;
    color: white;
}

.secondsection img {
    max-width: 100%;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    max-width: 600px;
}
  
#navbar a {
    float: left;
    display: block;
    background-color: #182b49;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 28px;
}

#navbar a:hover {
    color: white;
}

.thirdsection {
    display: inline-block;
    background-color: rgb(245, 240, 230);
    padding: 10px;
}

.thirdsection img {
    max-width: 100%;
}

.thirdsection p {
    font-size: 28px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.grid-box {
    display: flex;
    background-color: #182b49;
    color: white;
    max-height: 500px;
    max-width: 300px;
    overflow: scroll;
}

.fourthsection {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
}

.fourthsection h2 {
    color: white;
}

.fourthsection label {
    color: white;
}

@media screen and (max-width: 800px) {
    #navbar {
        display: none;
    }

    #navbar a {
        display: none;
    }

    .logo-img {
        max-width: 75%;
    }

    .h2 {
        font-size: 24px;
    }

    .firstsection p {
        font-size: 20px;
    }

    .secondsection p {
        font-size: 20px;
    }

    .thirdsection p {
        font-size: 20px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}